*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    font-size: 4rem;
    font-style: italic;
    color:rgb(255, 255, 255);
    margin: 2rem;
}
.plus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(89, 15, 158);
    position: fixed;
    right:1rem;
    top:90vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
}
.plus:hover{
    background-color: rgb(84, 11, 152);
}
.addTask{
    height:40px;
    width:400px;
    display: flex;
    gap:0.5rem;
}
#inputTask{
    height:100%;
    width:290px;
    border: 2px solid rgb(249, 247, 247);
}
.addWork{
    width:70px;
    background-color: rgb(223, 22, 56);
    color: #fff;
    font-weight: 600;
    border: none;
}
.addWork:hover{
    background-color: rgb(154, 19, 42);
    transform: scale(1.1);
}
.listStyle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:0.4rem;
    height:40px;
    width:300px;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 5px;
    /* position: absolute;
    top:15rem; */
}
.check{
    grid-area: 1/4/2/5;
    width:20px;
    height: 20px;
    align-self: center;
}
.delBtn{
    grid-area: 1/5/2/6;
    height:37px;
    width:37px;
}
.delBtn:hover{
    transform: scale(1.2);
}

.dashboard{
    height: 15vh;
    width: 60vw;
    position: absolute;
    bottom: 20%;
    background-color: white;
    color: rgb(143, 135, 135);
    font-size: 1.4rem;
}
